page-cadastrocompleto {
	.item-md {
		padding-left: 14px;
		padding-right: 14px;
	}
	#profissao ion-label {
		margin-top: 20px;
		font-size: 13px;
		color: #999;
	}
	.checkbox-md {
		margin: 9px 10px 9px 0px !important;
	}
}
