page-home {
	.fixed-content {
		background: #f4f4f7;
	}
	.fData {
    	color: #999;
	}
	.fCat {
		margin-bottom: 6px;
	}
	.cat5 {
		color: #448ccb;
	}
	.cat6 {
		color: #8dc63f;
	}
	.cat7 {
		color: #e30613;
	}
	.cat8 {
		color: #a864a8;
	}
	.cat38 {
		color: #575656;
	}

	.bar-button-menutoggle-md {
		display: block !important;
	}
}
